.login-page {
    display: flex;
    justify-content: center;
}

.inner-login {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.login-title {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-form {
    width: 100%;
    border: 1px solid black;
    padding: 40px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #232323a6;
}

.button-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px;
    background-color: #00C29F;
    border-radius: 5px;
    border: 1px solid #232323a6;
}

.button-login {
    margin-top: 10px;
    width: 30%;
    color: azure;
    font-weight: 700;
    margin: 20px 0;
}

.after-login {
    display: flex;
    justify-content: space-around;
}

.final-text {
    margin: 0;
    margin-left: 30px;
}

.forget-pass {
    background-color: white;
    border: none;
    padding: 0;
}

.first-step-pass {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.first-step-pass-content {
    width: 100%;
}

.first-step-pass-title {
    text-align: center;
    margin-bottom: 30px;
}

.input-modal-login {
    display: block;
    padding: 5px;
    width: 100%;
}

.button-modal-login {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}